{% extends 'accounts/accounts_base.html' %}
{% block accounts %}
<div class="container">
{% if casts %}
{% for cast_movies in cast_movie_lists %}
<table class="table">
    <tbody>
        <tr>
        {% for casts in cast_movies %}
            {% if forloop.first %}
            <th scope="row" class="text-center">{{ casts.name }}</th>
            {% endif %}
        {% endfor %}
        </tr>
        <tr>
            <td>
                <div class="container row m-0">
                <div class="col d-flex flex-row justify-content-center">
                    
                        {% for movies in cast_movies %}
                            {% if forloop.first %}
                            {% else %}
                            {% for movie in movies %}
                                
                                
                                <div class="col-3 text-center">
                                <a href="{% url 'movies:detail' movie.id %}" class="w-10rem"><img src="{{ movie.poster_path }}" alt="Image" class="w-75"/></a>
                                </div>
                            {% endfor %}
                            {% endif %}
                            
                        {% endfor %}  
               
                </div>   
                </div>   
            </td>
        </tr>
    </tbody>
</table>    
{% endfor %}
{% else %}
<div class="jumbotron">
        <h1 class="display-4 ml-3">{% if user_info == request.user %}내가 좋아하는 배우가 비어있네요.{% else %}{{ user_info.username }} 님이 좋아하는 배우가 없어요.{% endif %}</h1>
        <hr class="my-4">
        <div class="d-flex flex-row-reverse mr-5">
        <a class="btn btn-primary btn-lg mr-2 " href="{% url 'accounts:user_info' user_info.id %}" role="button">확인</a>
    </div>
</div>
{% endif %}
</div>
{% endblock %}