{% extends 'accounts/accounts_base.html' %}
{% block accounts %}
<div class="container">
{% if feeds %}
{% for feed in feeds %}
    {{ feed }}
{% endfor %}
{% else %}
<div class="jumbotron">
        <h1 class="display-4 ml-3">새로운 피드가 없습니다!</h1>
        <hr class="my-4">
        <p class="ml-5">구독을 통해 다른 유저들의 활동과 최신 리뷰를 피드로 받아 볼 수 있습니다.</p>
        <p class="ml-5">다른 유저들을 구독해 보세요!</p>
        <div class="d-flex flex-row-reverse mr-5">
        <a class="btn btn-primary btn-lg " href="{% url 'accounts:user_info' request.user.id %}" role="button">확인</a>
        </div>
      </div>
{% endif %}
</div>


{% endblock %}
