{% extends 'accounts/accounts_base.html' %}
{% block accounts %}
<div class="container">
    {{ user_info.username }}
    <br>
    {{ user_info.profile.nickname }}
    <br>
    {{ user_info.profile.introduction }}
    <br>
    {{ user_info.profile.point }}
    <br>
    {% for genre in user_info.like_genres.all %}
    {{ genre.name}}
    <br>
    {% endfor %}
    <br>
    구독자 : <span id="subscriber-count-{{user_info.pk}}">{{ user_info.subscribers.all.count }}</span>
    <br>
    {% if user == user_info %}
    <a href="{% url 'accounts:subscriberList' user.pk  %}">
    {% else %}
    <a href="{% url 'accounts:subscriberList' user_info.pk  %}">
    {% endif %}
    구독자 보기</a>
    <br>
    구독 : {{ user_info.subscribe.all.count }}
    <br>
    {% if user == user_info %}
    <a href="{% url 'accounts:subscribeList' user.pk %}">
        {% else %}
        <a href="{% url 'accounts:subscribeList' user_info.pk %}">
        {% endif %}
        구독 목록</a>
    
    <br>

    {% if user != user_info %}
    <button class="subscribe-button" data-id="{{user_info.id}}">{% if user in user_info.subscribers.all %}구독취소{% else %}구독{% endif %}</button>
    {% endif %}
    <br>
    {% if user == user_info %}
    <a href="{% url 'accounts:feed' user.pk %}">
    {% else %}
    <a href="{% url 'accounts:feed' user_info.pk %}">
    {% endif %}
    New 피드</a>
    <br>


    {% if user == user_info %}
    <a href="{% url 'accounts:updateUser' %}">프로필 수정</a>
    {% endif %}
</div>
    {% if user != user_info %}
    <script>
        const subscribeButton = document.querySelector('.subscribe-button')
        subscribeButton.addEventListener('click', function(e){
            const userId = e.target.dataset.id
            // is_ajax() True 를 위한 것
            axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
            // csrf_token을 위한 것
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = 'X-CSRFToken'
            // scrftoken을 header에 담을 때 X-CSRFToken으로 보내라고 Django에 설정되어 있음.
            
            axios.post(`/accounts/${userId}/subscribe/`)
            .then(function(response){
                const SubscriberCount = document.querySelector(`#subscriber-count-${userId}`)
                SubscriberCount.innerText = response.data.subscribe_count
                if (response.data.is_subscribe)
                {
                    e.target.innerText = "구독취소"
                }
                else
                {
                    e.target.innerText = "구독"
                }
            })
        })
    
    </script>
    {% endif %}
{% endblock %}
