{% extends 'accounts/accounts_base.html' %}
{% block accounts %}
<div class="container">
{% if movies %}


<table class="table">
    <tbody>
        <tr>
            <th class="text-center">{% if user_info == request.user %}나의 추천 영화{% else %}유저 추천 영화{% endif %}</th>
        </tr>
        <tr>
            <td>
                <div class="container row m-0">
                <div class="col d-flex flex-row justify-content-center">
                            {% for movie in movies %}
                                
                                
                                <div class="col-3 text-center">
                                <a href="{% url 'movies:detail' movie.id %}" class="w-10rem"><img src="{{ movie.poster_path }}" alt="Image" class="w-75"/></a>
                                </div>
                            
                        {% endfor %}  
               
                </div>   
                </div>   
            </td>
        </tr>
    </tbody>
</table>    

{% else %}
<div class="jumbotron">
        <h1 class="display-4 ml-3">{% if user_info == request.user %}나의 추천 영화가 없습니다.{% else %}{{ user_info.username }} 님의 추천 영화가 없습니다. {% endif %}</h1>
        <hr class="my-4">
        <p class="ml-5">{% if user_info == request.user %}내 취향 영화에 '좋아요'와 '리뷰'를 남겨 보세요!{% else %}{{ user_info.username }} 님께 영화를 추천해 보세요!{% endif %}</p>
        <p class="ml-5">{% if user_info == request.user %}포인트 적립과 함께 구독자들에게 영화 추천 피드를 전해보세요.{% else %}내 취향 영화도 좋아하실 거예요.{% endif %}</p>
        <div class="d-flex flex-row-reverse mr-5">
        <a class="btn btn-primary btn-lg " href="{% url 'accounts:user_info' user_info.id %}" role="button">확인</a>
    </div>
</div>
{% endif %}
</div>
{% endblock %}