{% extends 'base.html' %}
{% block title %}The Movie{% endblock %}
{% block body %}
<div class="container">
    <div>
        <img src="{{ movie.poster_path }}">
        <p>
            {{ movie.title }}
            {% if not reviewed %}
            <a href="{% url 'movies:create' movie.pk %}">리뷰 작성</a>
            {% endif %}
        </p>
        <p>{{ movie.score_avg }}</p>
    </div>
    <div>
        {% for review in movie.review_set.all %}
        <!-- collapse -->
        <div class="accordion" id="accordion1">
                <div class="card">
                    <div class="card-header" id="heading{{ review.pk }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ review.pk }}" aria-expanded="false" aria-controls="collapse{{ review.pk }}">
                                {{ review.score }} {{ review.title }} written by. {{ review.user.username }}
                            </button>
                        </h2>
                    </div>
                    <div id="collapse{{ review.pk }}" class="collapse" aria-labelledby="heading{{ review.pk }}" data-parent="#accordion1">
                        <div class="card-body">
                            {{ review.content }}
                            {% if user == review.user or user.is_superuser %}
                            <div class="d-flex justify-content-end">
                                <a class='btn btn-outline-dark btn-sm' href="{% url 'movies:update' movie.pk review.pk %}">Edit</a>
                                <form action="{% url 'movies:delete' movie.pk review.pk %}" method="POST" onsubmit="return confirm('Delete?')">
                                    {% csrf_token %}
                                    <button type="submit" class='btn btn-outline-dark btn-sm' role='button'>Delete</button>
                                </form>
                            </div>
                            {% endif %}
                            <!-- comment list: 추후 접은 형태로 수정 -->
                            <div id="comment-{{ review.pk }}">
                                {% for comment in review.comment_set.all %}
                                <div class="mb-1 d-flex justify-content-between" id="{{ comment.pk }}">
                                    <div>
                                        <a href="#"><b style="margin-right:8px;">{{ comment.user.username }}</b></a>
                                        <pre>{{ comment.content }}</pre>
                                    </div>
                                    {% if user.is_superuser or user == comment.user %}
                                    <div class="d-flex justify-content-end">    
                                        <a class='update-comment mr-3' style="color: lightgrey" data-id="{{ comment.pk }}" href="{% url 'movies:update_comment' comment.pk %}">o</a>
                                        <a class='delete-comment' style="color: lightgrey" data-id="{{ comment.pk }}" href="{% url 'movies:delete_comment' comment.pk %}">x</a>
                                    </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            
                            <!-- comment form -->
                            {% load crispy_forms_tags %}
                            <form method="POST" action="{% url 'movies:create_comment' movie.pk review.pk %}" class="comment_form">
                                {% csrf_token %}
                                <div class="d-flex justify-content-between">
                                    <div>
                                        {{ form|crispy }}
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-outline-dark btn-sm mt-1">submit</button>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
</div>

{% endblock %}
{% block script %}
<script>
const deleteComment = function(e){
    e.preventDefault()
    const url = e.target.getAttribute('href')
    axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
    axios.post(url)
        .then(function(){
            const id = e.target.dataset.id
            let a = document.getElementById(id)
            a.remove()
        })
}
const updateComment = function(e){
    e.preventDefault()
    const id = e.target.dataset.id
    let a = document.getElementById(id)
    let x = a.firstElementChild.querySelector('pre')
    let y = `<form class='update-form'><textarea name="content">${x.innerText}</textarea><button type='submit'>submit</button></form>`
    while (a.hasChildNodes()){
        a.removeChild(a.firstChild)
    }
    a.insertAdjacentHTML('beforeend', y)
    const updateForm = document.querySelector('.update-form')
    updateForm.addEventListener('submit', function(e){
        e.preventDefault()
        const url = `/movies/${id}/update/`
        const data = new FormData(e.target)
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
        axios.post(url, data)
            .then(function(response){
                 // 지우고 새로 만드는 게 아니라 내용을 바꿔치기 해야 함
                while (a.hasChildNodes()){
                    a.removeChild(a.firstChild)
                }
                const content = `<div><a href="#"><b style="margin-right:8px;">${response.data.username}</b></a><pre>${response.data.content}</pre></div>
                                <div class="d-flex justify-content-end">
                                <a class='update-now mr-3' style="color: lightgrey" data-id="${response.data.commentPk}" href="/movies/${response.data.commentPk}/update/">o</a>
                                <a class='delete-now' style="color: lightgrey" data-id="${response.data.commentPk}" href="/movies/${response.data.commentPk}/delete/">x</a>
                                </div>
                                `
                a.insertAdjacentHTML('beforeend', content)
                const deleteCommentButton = document.querySelector('.delete-now')
                console.log(deleteCommentButton)
                deleteCommentButton.addEventListener('click', deleteComment)
                const updateCommentButton = document.querySelector('.update-now')
                console.log(updateCommentButton)
                updateCommentButton.addEventListener('click', updateComment)
            })
    })
    
}
const commentForm = document.querySelector('.comment_form')
commentForm.addEventListener('submit', function(e){
    e.preventDefault()
    axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
    const url = e.target.getAttribute('action')
    const data = new FormData(e.target)
    console.log(data)
    axios.post(url, data)
        .then(function(response){
            e.target.reset()
            const content = `<div class="mb-1 d-flex justify-content-between" id="${response.data.commentPk}">
                                <div><a href="#"><b style="margin-right:8px;">${response.data.username}</b></a><pre>${response.data.content}</pre></div>
                                <div class="d-flex justify-content-end">
                                <a class='update-now mr-3' style="color: lightgrey" data-id="${response.data.commentPk}" href="/movies/${response.data.commentPk}/update/">o</a>
                                <a class='delete-now' style="color: lightgrey" data-id="${response.data.commentPk}" href="/movies/${response.data.commentPk}/delete/">x</a>
                                </div>
                            </div>`
            const commentDiv = document.querySelector(`#comment-${response.data.reviewPk}`)
            commentDiv.insertAdjacentHTML('beforeend', content)
            const deleteCommentButton = document.querySelector('.delete-now')
            deleteCommentButton.addEventListener('click', deleteComment)
            const updateCommentButton = document.querySelector('.update-now')
            updateCommentButton.addEventListener('click', updateComment)
        })
})    
const deleteCommentButtons = document.querySelectorAll('.delete-comment')
deleteCommentButtons.forEach(function(button){
    button.addEventListener('click', deleteComment) // eventListener가 알아서 넣어주는 것
}) 
// update click > eventlistner > pre tag input textarea로 변경, submit 버튼 생성
// > submit eventlistener > 제출 후 반영된 것처럼 보여주기
const updateCommentButtons = document.querySelectorAll('.update-comment')
updateCommentButtons.forEach(function(button){
    button.addEventListener('click', updateComment)
})

</script>

{% endblock %}