container_commands:
    01_migrate:
        command: "python manage.py migrate"
        leader_only: true
    02_chown_sqlitedb:
        command: "sudo chown wsgi db.sqlite3"
        leader_only: true
    03_createsuperuser:
        command: "python manage.py loaddata users.json"
        leader_only: true
    04_collectstatic:
        command: "python manage.py collectstatic"
    05_casts:
        command: "python manage.py loaddata casts8.json"
        leader_only: true
    05_genres:
        command: "python manage.py loaddata genre.json"
        leader_only: true
    05_directors:
        command: "python manage.py loaddata directors8.json"
        leader_only: true
    05_moives:
        command: "python manage.py loaddata movies8.json"
        leader_only: true
