{% extends 'accounts/accounts_base.html' %}
{% block accounts %}
{% block head %}
{% endblock%}

<div class="container">
{% if genres %}
        

{% for genre_movies in genre_movie_lists %}
<table class="table">
    <tbody>
        <tr>
        {% for movies in genre_movies %}
            {% if forloop.first %}
            <th scope="row" class="text-center">{{ movies.name }}</th>
            {% endif %}
        {% endfor %}
        </tr>
        <tr>
            <td>
                <div class="container row m-0">
                <div class="col d-flex flex-row justify-content-center">
                        {% for movies in genre_movies %}
                            {% if forloop.first %}
                            {% else %}
                            {% for movie in movies %}
                                <div class="col-3 text-center row">
                                <div>
                                <a href="{% url 'movies:detail' movie.id %}" class="w-10rem"><div><img src="{{ movie.poster_path }}" alt="Image" class="w-75"/></div></a>
                                </div>
                                </div>
                            {% endfor %}
                            {% endif %}
                            
                        {% endfor %}  
               
                </div>   
                </div>   
            </td>
        </tr>
    </tbody>
</table>    
{% endfor %}

{% else %}
<div class="jumbotron">
    <h1 class="display-4 ml-3">{% if user_info == request.user %}내가 좋아하는 장르가 비어있네요.{% else %}{{ user_info.username }} 님이 좋아하는 장르가 없어요 ㅜㅜ {% endif %}</h1>
    <hr class="my-4">
    <div class="d-flex flex-row-reverse mr-5">
    <a href="{% url 'accounts:user_info' user_info.id %}" role="button">돌아가기</a>
    {% if user_info == request.user %}<a class="btn btn-primary btn-lg mr-3" href="{% url 'accounts:updateGenre' %}" role="button">등록하기</a>{% endif %}
    </div>
</div>

{% endif %}
</div>
{% endblock %}