{% extends 'accounts/accounts_base.html' %}
{% block accounts %}
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row" style="width: 12rem;">ID</th>
                <td>{{ user_info.username }}</td>
            </tr>
            <tr>
                <th scope="row" style="width: 12rem;">Nickname</th>
                <td>{{ user_info.profile.nickname }}</td>
            </tr>
            <tr>
                <th scope="row" style="width: 12rem;">Introduction</th>
                <td>{{ user_info.profile.introduction }}</td>
            </tr>
            <tr>
                <th scope="row" style="width: 12rem;">Point</th>
                <td><i class="fas fa-lg fa-chess-{% if user_info.profile.point >= 50000 %}king{% elif user_info.profile.point >= 10000 %}queen{% elif user_info.profile.point >= 5000 %}bishop{% elif user_info.profile.point >= 1000 %}knight{% elif user_info.profile.point >= 500 %}rook{% else %}pawn{% endif %}"></i><span class="bold">&nbsp;/&nbsp;</span> {{ user_info.profile.point }} point</td>
            </tr>
            <tr>
                <th scope="row" style="width: 12rem;">Favorite Movies</th>
                <td>{% if user_info.like_movies.first %}{% for movie in user_info.like_movies.all %}<a href="{% url 'movies:detail' movie.id  %}">{{ movie.title }}</a>&nbsp;&nbsp;&nbsp;{% endfor %}{% else %}<span>좋아하는 영화를 등록해 주세요.</span>{% endif %}</td>
            </tr>
            <tr>
                <th scope="row" style="width: 12rem;">Favorite Gernes</th>
                <td>{% if user_info.like_genres %}{% for genre in user_info.like_genres.all %}<a href="{% url 'accounts:favoritesGenres' user_info.id  %}">{{ genre.name }}</a>&nbsp;&nbsp;&nbsp;{% endfor %}{% else %}<span>좋아하는 영화 장르를 등록해 주세요.</span>{% endif %}</td>
            </tr>
            <tr>
                <th scope="row" style="width: 12rem;">Favorite Directors</th>
                <td>{% if user_info.like_directors %}{% for director in user_info.like_directors.all %}<a href="{% url 'accounts:favoritesDirectors' user_info.id  %}">{{ director.name }}</a>&nbsp;&nbsp;&nbsp;{% endfor %}{% else %}<span>좋아하는 감독을 등록해 주세요.</span>{% endif %}</td>
            </tr>
            <tr>
                <th scope="row" style="width: 12rem;">Favorite Casts</th>
                <td>{% if user_info.like_casts.first %}{% for cast in user_info.like_casts.all %}<a href="{% url 'accounts:favoritesCasts' user_info.id  %}">{{ cast.name }}</a>&nbsp;&nbsp;&nbsp;{% endfor %}{% else %}<span>좋아하는 배우를 등록해 주세요.</span>{% endif %}</td>
            </tr>
            <tr>
                <th scope="row" style="width: 12rem;">Subscribes</th>
                <td><a href="{% url 'accounts:subscribeList' user_info.id %}">{{ user_info.subscribes.all.count }}&nbsp;명</a></td>
            </tr>
            <tr>
                <th scope="row" style="width: 12rem;">Subscribers</th>
                <td><a href="{% url 'accounts:subscriberList' user_info.id %}"><span id="subscriber-count-{{user_info.id}}">{{ user_info.subscribers.all.count }}</span><span>&nbsp;명</span></a>{% if request.user != user_info %}
    <button class="subscribe-button ml-3" data-id="{{user_info.id}}">{% if request.user in user_info.subscribers.all %}구독취소{% else %}구독{% endif %}</button>
    {% endif %}</td>
            </tr>
            <tr>
                <th scope="row" style="width: 12rem;">Reviews</th>
                <td><a href="{% url 'accounts:reviewsList' user_info.id %}">{{ user_info.review_set.count }}&nbsp;개</a></td>
            </tr>
            <tr>
                <th scope="row" style="width: 12rem;">Comments</th>
                <td>{{ user_info.comment_set.count }}&nbsp;개<a href=""></a></td>
            </tr>
        </tbody>
    </table>

    
</div>
    {% if request.user != user_info %}
    <script>
        const subscribeButton = document.querySelector('.subscribe-button')
        subscribeButton.addEventListener('click', function(e){
            const userId = e.target.dataset.id
            // is_ajax() True 를 위한 것
            axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
            // csrf_token을 위한 것
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = 'X-CSRFToken'
            // scrftoken을 header에 담을 때 X-CSRFToken으로 보내라고 Django에 설정되어 있음.
            
            axios.post(`/accounts/${userId}/subscribe/`)
            .then(function(response){
                const SubscriberCount = document.querySelector(`#subscriber-count-${userId}`)
                SubscriberCount.innerText = response.data.subscribe_count
                if (response.data.is_subscribe)
                {
                    e.target.innerText = "구독취소"
                }
                else
                {
                    e.target.innerText = "구독"
                }
            })
        })
    
    </script>
    {% endif %}
{% endblock %}
