{% extends 'accounts/accounts_base.html' %}
{% block accounts %}
<div class="container">
        {% if subscribes.count %}


<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">LEVEL</th>
            <th scope="col">POINT</th>
            <th scope="col">REVIEW</th>
            <th scope="col">COMMENT</th>
            <th scope="col">SUBSCRIBE</th>
            <th scope="col">INFO</th>
            </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        {% if user_info in profile.user.subscribers.all %}
        {% if user_info == profile.user %}
        {% else %}
        <tr>
            <td>
                {{ profile.user.username }}
            </td>
            <td>
                <i class="fas fa-lg fa-chess-{% if profile.point >= 50000 %}king{% elif profile.point >= 10000 %}queen{% elif profile.point >= 5000 %}bishop{% elif profile.point >= 1000 %}knight{% elif profile.point >= 500 %}rook{% else %}pawn{% endif %}"></i>
            </td>
            <td>
                    {{ profile.point }}
            </td>
            <td>
                    {{ profile.user.review_set.count }}
            </td>
            <td>
                    {{ profile.user.comment_set.count }}
            </td>
            <td>
                    {% if profile.user == request.user %}
                    <div class="text-center">
                    <a  href="{% url 'accounts:user_info' request.user.id %}">ME</a>
                    </div>
                    {% else %}
                    <button class="subscribe-button ml-3 btn btn-outline-info p-0 mx-auto" data-id="{{profile.user.id}}">{% if request.user in profile.user.subscribers.all %}취소{% else %}구독{% endif %}</button>
                    {% endif %}
            </td>
            <td>
                {% if profile.user == request.user %}
                {% else %}
                <a href="{% url 'accounts:user_info' profile.user.pk %}">정보보기</a>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endif%}
        {% endfor %}
    </tbody>
</table>
<hr class="my-4">
<div class="d-flex flex-row-reverse mr-5">
    <a class="ml-3" href="{% url 'accounts:user_info' user_info.id %}" role="button">돌아가기</a>
    {% if user_info == request.user %}<a href="{% url 'accounts:rank' %}" role="button">구독하러 가기</a>{% endif %}
    
</div>
{% else %}  

<div class="jumbotron">
        <h1 class="display-4 ml-3">{% if user_info == request.user %}내가 구독한 유저가 없습니다.{% else %}{{ user_info.username }} 님이 구독한 유저가 없습니다. {% endif %}</h1>
        <hr class="my-4">
        <p class="ml-5">{% if user_info == request.user %}다른 유저들을 구독해 보세요!{% else %}{{ user_info.username }} 님을 먼저 구독해 보세요!{% endif %}</p>
        <p class="ml-5">{% if user_info == request.user %}구독을 통해 다른 유저들의 활동과 최신 리뷰를 피드로 받아 볼 수 있습니다.{% else %}서로의 피드를 받아보며 영화 리뷰를 공유 할 수 있습니다.{% endif %}</p>
        <div class="d-flex flex-row-reverse mr-5">
            <a  href="{% url 'accounts:rank' %}" role="button">구독하러 가기</a>
            <a class="mr-3" href="{% url 'accounts:user_info' user_info.id %}" role="button">돌아가기</a>
        </div>
</div>








{% endif %}
</div>

<script>
        const subscribeButton = document.querySelectorAll('.subscribe-button')
        subscribeButton.forEach(function(button){
            button.addEventListener('click', function(e){
            const userId = e.target.dataset.id
            // is_ajax() True 를 위한 것
            axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
            // csrf_token을 위한 것
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = 'X-CSRFToken'
            // scrftoken을 header에 담을 때 X-CSRFToken으로 보내라고 Django에 설정되어 있음.
            
            axios.post(`/accounts/${userId}/subscribe/`)
            .then(function(response){
                if (response.data.is_subscribe)
                {
                    e.target.innerText = "취소"
                }
                else
                {
                    e.target.innerText = "구독"
                }
            })
        })
        })
    
</script>
{% endblock %}